### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
AP = purchase_data

In [4]:
total_players=len(purchase_data["SN"].unique())
TotalPlayers = pd.DataFrame({"Total Players": [total_players]})
TotalPlayers

   Total Players
0            576

In [5]:
total_players=purchase_data["SN"].count()
total_players

780

In [6]:
TP = TotalPlayers['Total Players'][0]
TP

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
Item = len(purchase_data["Item ID"].unique())
AvgPrice = purchase_data["Price"].mean()
TotalPurchases = len(purchase_data["Purchase ID"].unique())
TotalRevenue = purchase_data["Price"].sum()
# some items have the same name but different ID. 
Purchase_Analysis = pd.DataFrame(
    {"Number of Unique Items": [Item],
    "Average Price": [AvgPrice],
    "Number of Purchases": [TotalPurchases],
    "Total Revenue": [TotalRevenue]
    })

# Use Map to format all the columns
Purchase_Analysis["Average Price"] = Purchase_Analysis["Average Price"].map("${:.2f}".format)
Purchase_Analysis["Total Revenue"] = Purchase_Analysis["Total Revenue"].map("${:,}".format)
Purchase_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
Player_info = purchase_data 
Players_info = Player_info.drop("Purchase ID", axis=1)
Players_Info = Players_info.drop(['Item ID', 'Item Name', 'Price'], axis=1)
Players_Info.drop_duplicates(subset='SN', keep="first")
Players = Players_Info["SN"].value_counts()
Players

Lisosia93         5
Iral74            4
Idastidru52       4
Lassilsala30      3
Iskadarya95       3
                 ..
Ryanara76         1
Pheusrical25      1
Tyaelistidru84    1
Lisassasda39      1
Frichaststa61     1
Name: SN, Length: 576, dtype: int64

In [9]:
# sum by the groupby of gender. 
# create new dataframe with SN, Age, and Gender columns only
# Players_Info.drop_duplicates(subset='SN', keep="last")
Players = Players_Info.drop_duplicates(subset='SN', keep="first")
# genders = Players_Info["Gender"].value_counts()
# Players = len(Players_Info["Gender"].value_counts())
Genders = pd.DataFrame({"Gender Total": [Players]})
Gender_Total = Players["Gender"].value_counts()
Gender_Total

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [10]:
Perc_players = Gender_Total / TP * 100
Perc_players

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [11]:
Gender_Demographics = pd.DataFrame(
    {"Gender": Gender_Total,
    "Percentages": Perc_players
    })
Gender_Demographics
Gender_Demographics["Percentages"]=Gender_Demographics["Percentages"].map("{:.2f}%".format)
Gender_Demographics

                       Gender Percentages
Male                      484      84.03%
Female                     81      14.06%
Other / Non-Disclosed      11       1.91%

In [12]:

# Gender_Demographics = pd.DataFrame(Gender_Total)
# Percentages = pd.DataFrame(Perc_players)

# Percentages

In [13]:
# Purchase_Analysis = pd.DataFrame(
#     {"Number of Unique Items": [Item],
#     "Average Price": [AvgPrice],
#     "Number of Purchases": [TotalPurchases],
#     "Total Revenue": [TotalRevenue]
#     })
# Gender_Demographics = pd.DataFrame(
#     {"Gender": [Gender_Demographics],
#     "Percentages": [Percentages]
#     })
# Gender_Demographics

In [14]:
# I can't figure out how to merge the two data frames properly or how to format the dataframe


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
purchase_analysis = purchase_data.groupby(['Gender'])
purchase_analysis.groups
# why doesn't .value_counts work but .size does?
# purchase_analysis_count = pd.DataFrame({'Count': purchase_analysis.size()})
purchase_analysis_count = purchase_data.groupby("Gender").size()
purchase_analysis_count

avg_p_price = purchase_data.groupby("Gender")["Price"].mean()
avg_p_price

total_pvalue = purchase_data.groupby("Gender")["Price"].sum()
total_pvalue


avg_totalp = (total_pvalue * avg_p_price) /  purchase_analysis_count 
avg_totalp
# I keep getting average total purchase values that are too high

Gender
Female                   10.259266
Male                      9.107435
Other / Non-Disclosed    11.195716
dtype: float64

In [16]:
Gender_Analysis = pd.DataFrame(
    {"Average Purchase Price": [avg_p_price],
     "Total Purchase Value": [total_pvalue],
     "Avg Total Purchase per Person": [avg_totalp]        
    })
Gender_Analysis
# I don't understand why the rows printed like this

,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 10.259266 Male...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
ages = pd.DataFrame(purchase_data)
ages
newages = ages.drop(['SN', 'Gender','Item ID', 'Item Name',], axis=1)
# newages
bins = [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60 ]
group_names = ["0-3", "4-7", "8-11", "12-15", "16-19", "20-23", "24-27", "28-31", "32-35", "36-39", "40-43", "44-47", "48-51", "52+"]
newages["Age Group"] = pd.cut(newages["Age"], bins, labels=group_names)
newages

     Purchase ID  Age  Price Age Group
0              0   20   3.53     12-15
1              1   40   1.56     32-35
2              2   24   4.88     16-19
3              3   24   3.27     16-19
4              4   23   1.44     16-19
..           ...  ...    ...       ...
775          775   21   3.54     16-19
776          776   21   1.63     16-19
777          777   20   3.46     12-15
778          778    7   4.19       0-3
779          779   24   4.60     16-19

[780 rows x 4 columns]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
Pcount_age = newages["Price"].value_counts()
Pcount_age

4.40    21
4.23    20
4.35    14
2.18    14
1.02    14
        ..
2.17     1
4.17     1
1.99     1
4.50     1
3.30     1
Name: Price, Length: 145, dtype: int64

In [26]:
Avg_price_age = newages.groupby("Age Group")["Price"].mean()
Avg_price_age

Age Group
0-3      3.462353
4-7      3.024643
8-11     2.993944
12-15    3.123529
16-19    3.006541
20-23    2.929205
24-27    3.052222
28-31    2.895952
32-35    3.560357
36-39    3.305000
40-43    1.700000
44-47         NaN
48-51         NaN
52+           NaN
Name: Price, dtype: float64

In [27]:
Tpurchvalue_age = newages.groupby("Age Group")["Price"].sum()
Tpurchvalue_age

Age Group
0-3       58.86
4-7       84.69
8-11     212.57
12-15    531.00
16-19    799.74
20-23    257.77
24-27    192.29
28-31    121.63
32-35     99.69
36-39     19.83
40-43      1.70
44-47      0.00
48-51      0.00
52+        0.00
Name: Price, dtype: float64

In [28]:
Avg_totalp_Age = (Tpurchvalue_age * Avg_price_age) / Pcount_age
Avg_totalp_Age

1.0     NaN
1.01    NaN
1.02    NaN
1.03    NaN
1.06    NaN
         ..
40-43   NaN
44-47   NaN
48-51   NaN
52+     NaN
8-11    NaN
Name: Price, Length: 159, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame